If:
  PathExclude: [third_party/.*]

CompileFlags:
  CompilationDatabase: build
  Compiler: cl
  Add:
    - "-Wno-unused-parameter"
    - "-Wno-missing-field-initializers"

Diagnostics:
  Suppress:
    - "unused-parameter"

Index:
  Background: Build